html, body {
    height: 100%;
}

body {
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: #303030;
}

.special {
    color: deeppink;
  }

  table {
    width: 100%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
